.textinput{
    margin-right: 5px;
    padding: 10px;
    border: none;
    width: 200px;
    height: 35%;
    border-radius: 30px;
    background-color: #3a3b3c;
    resize: none;
}
.textinput:focus{
    outline: none;
}
